<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--link rel="stylesheet" href = "url-shortner/css/style.css"-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!--style>
table{
    border-collapse: colapse;
    margin: 25px 0;
    font-size:0.9 em;
    
}

</style-->
<body>
<div class="container"> 
    <h1 style="text-align: center; margin-top: 10px;">URL SHRINKER</h1>
    <form action="/shortUrls" method="POST" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only"></label>
        <input required placeholder="URL" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
        <button style="margin-top: 10px;" class="btn btn-success " type="submit">Shrink</button>
    </form>
    <table style="border:2px solid;  font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate; border-color: black;
    width: 100%;" class ="table table-striped table-responsive">
        <thead>
            <tr>
                <th style="border:1px solid; text-align: center">Full url</th>
                <th style="border:1px solid; text-align: center">Short url</th>
                <th style="border:1px solid; text-align: center">Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% shortUrls.forEach(shortUrl => { %>
                <tr>
                    <td  style="border:1px solid"><a href = "<%= shortUrl.full %>"><%= shortUrl.full %></a></td>  
                    <td style="border:1px solid"><a href = "<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                    <td style="border:1px solid"><%= shortUrl.clicks %></td>
                  </tr>
           <%  }) %>
        </tbody>
    </table>
</div>
</body>
</html>